body {
    color: #999;
    font-size: 15px;
    font-family: 'Montserrat-Regular', opentype;
    line-height: 1.80857;
}
.style1 {	font-family:"Montserrat-Regular";
	font-size:11px;
	font-weight:normal;
	color:#fff;
	text-align:center;
}
.style1a {	font-family:"Montserrat-Regular";
	font-size:13px;
	font-weight:normal;
	color:#FF0;
	text-align:center;
}
.style2 {	font-family:"Montserrat-Regular";
	font-size:12px;
	font-weight:normal;
	color:#FFF;
	text-align:right;
}
.style2b {	font-family:"Montserrat-Regular";
	font-size:10px;
	font-weight:normal;
	color:#FFF;
	text-align:right;
}
.style2c {	font-family:"Montserrat-Regular";
	font-size:10px;
	font-weight:normal;
	color:#FFF;
	text-align:left;
}
.style3 {	font-family:"Montserrat-Regular";
	font-size:12px;
	font-weight:bold;
	color:#000;
	text-align:right;
}
.style3a {	font-family:"Montserrat-Regular";
	font-size:12px;
	font-weight:normal;
	color:#fff;
	text-align:right;
}
body {
	background-image: url();
	background-repeat: repeat-x;
	background-color: #FFF;
}
.box{
	width:150px;
	height:30px;
	border:0px;
	padding:3px;
}

.box:hover{
	
	-moz-box-shadow: 0  0 3px #999;
	-wbkit-box-shadow: 0 0 3px #999;
	box-shadow: 0 0 6px #999;
}
.box1{
	width:80px;
	height:30px;
	border:0px;
	padding:3px;
}

.box1:hover{
	
	-moz-box-shadow: 0  0 3px #999;
	-wbkit-box-shadow: 0 0 3px #999;
	box-shadow: 0 0 6px #999;
}
.box2{
	width:90px;
	height:30px;
	border:0px;
	padding:3px;
}

.box2:hover{
	
	-moz-box-shadow: 0  0 3px #999;
	-wbkit-box-shadow: 0 0 3px #999;
	box-shadow: 0 0 6px #999;
}
.box3{
	width:100px;
	height:30px;
	border:0px;
	padding:3px;
}

.box3:hover{
	
	-moz-box-shadow: 0  0 3px #999;
	-wbkit-box-shadow: 0 0 3px #999;
	box-shadow: 0 0 6px #999;
}
.box4{
	width:100px;
	height:30px;
	border:0px;
	padding:3px;
}

.box4:hover{
	
	-moz-box-shadow: 0  0 3px #999;
	-wbkit-box-shadow: 0 0 3px #999;
	box-shadow: 0 0 6px #999;
}

